// seletor{propriedade:valor;}


// * = seletor global
*{
    margin: 0;
    // espacamento externo das tags
    padding: 0;
    // espacamento interno das tags
    box-sizing: border-box;
    // Faz o calculo correto dos tamanhos dos elementos
}
// cores - nomeda cor(ingles), rgb e hexadecimal
// rgb() - os valores do rgb vao de 0 a 255
// hexadecimal - Um sistema de numeracao seguido do #
body{
    // font-family - define a fonte que será usada no texto
    font-family: "Montserrat", sans-serif;
    
}

header{
    background-color: #5f0f40;
    text-align: center;
    ul{
        // ativa o flexbox e alinha os itens um ao lado do outro
        display: flex;
        // retira o estilo da lista
        list-style: none;        
        // propriedade que ajusta o eixo horizontal
        justify-content: center;
        padding: 1%;
    }
}

.banner {
    background-image: url("https://img.freepik.com/vetores-gratis/cartaz-de-tempo-de-filme-de-cinema-horizontal-realista-com-carretel-de-badalo-de-bilhetes-de-lanches-de-oculos-3d-em-fundo-azul-com-ilustracao-vetorial-bokeh_1284-77013.jpg");
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img{
    width: 300px;
}

// .class - seletor
.titulo{
    color: rgb(240, 248, 255);
}

// #id - seletor
#btn1{
    background-color: yellow;
}

a {
text-decoration: none;
padding: 5px;
color: aliceblue;
}


